
html {
  background-color: #313041;
}

#intro {
  min-height: 100%;
  background-color: yellow;
  margin: 0;
  min-width: 100%;
  height: 100%;
}

#logo {
  max-width: 400px;
}

#subTitle {
	color: #444444;
	font-family: "Poppins"
}

@media only screen and (max-width: 750px) {
  #logo {
    width: 260px;
  }
}

#logo2 {
  max-width: 400px;
}

@media only screen and (min-width: 751px) {
  #logo2 {
    max-height: 100px;
    height: 15%;
  }
}

@media only screen and (max-width: 751px) {
  #logo2 {
    max-height: 100px;
    height: 15%;
  }
}

#socialBar {
  padding-top: 30px;
  padding-bottom: 12px;
}

/* #intro2 {
  min-height: 100%;
  background-color: yellow;
  margin: 0;
  min-width: 100%;
  display: none;
  height: 50%;
} */

#intro2 {
  min-height: 100%;
background-color: yellow;
margin: 0;
min-width: 100%;
padding-right: 0px;
display: none;
height: 50%;
/* padding: 0; */
}

#videoScreen {
  position: absolute;
  z-index: 501;
  bottom: 0;
  min-height: 100%;
  background-color: #313041;
  margin: 0;
  min-width: 100%;
  display: none;
  border-top-left-radius: 30px;
}

body {
  margin: 0px;
    overflow-y: hidden;
}

#title {
  color: black;
	font-family: "Londrina Solid";
  /* font-size: 10vh; */
  /* padding: 5px; */
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 205px;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* -webkit-box-shadow: 0px 0px 56px -12px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 56px -12px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 56px -12px rgba(0,0,0,0.63); */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #d7af8c;
  color: black;
  padding: 10px;
  background-image: url("cardBG.jpg");
  background-size:cover;
  overflow: hidden;
}

.flip-card2-front {
  background-color: #d7af8c;
  color: black;
  padding: 10px;
    overflow: hidden;
  background: rgb(61,44,116);
  background: linear-gradient(0deg, rgba(220,122,62,1) 35%, rgba(104,172,214,1) 36%);
}

.flip-card3-front {
  background-color: white;
  color: black;
  padding: 5px;
    overflow: hidden;
}

.flip-card4-front {
  background-color: white;
  color: black;
  padding: 5px;
  background: rgb(203,1,1);
    overflow: hidden;
  background: linear-gradient(0deg, rgba(203,1,1,1) 16%, rgba(5,104,185,1) 17%, rgba(5,104,185,1) 33%, rgba(255,255,255,1) 34%, rgba(241,241,241,1) 66%, rgba(5,104,185,1) 67%, rgba(5,104,185,1) 82%, rgba(203,1,1,1) 83%);
}

.flip-card5-front {
  background-color: #ef242a;
  color: black;
  padding: 5px;
    overflow: hidden;
  -webkit-box-shadow:inset 0px 0px 0px 10px #fecb0e;
-moz-box-shadow:inset 0px 0px 0px 10px #fecb0e;
box-shadow:inset 0px 0px 0px 10px #fecb0e;
}

.flip-card6-front {
  background-color: #00203f;
  color: black;
  padding: 5px;
    overflow: hidden;
  -webkit-box-shadow:inset 0px 0px 0px 10px #adefd1;
-moz-box-shadow:inset 0px 0px 0px 10px #adefd1;
box-shadow:inset 0px 0px 0px 10px #adefd1;
}

.holder4 {
  background-color: black;
      padding: 2px;
      border-radius: 15px;
      width: 95%;
      left: 0;
      right: 0;
      margin: auto;
}

.holder5 {
  background-color: black;
      /* padding: 2px; */
      border-radius: 100%;
      width: 95%;
      height: 200px;
      overflow: hidden;
      left: 0;
      right: 0;
      margin: auto;
}

.card5Image {
  height: 196px;
    background-image: url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2020%2F04%2F10%2Flebron-james.jpg);
    background-size: cover;
border-radius: 100%;
    border: 3px solid #fecb0e;
}

.card6Image {
  height: 196px;
    background-image: url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2020%2F04%2F10%2Flebron-james.jpg);
    background-size: cover;
    border-radius: 100%;
    border: 3px solid #adefd1;
}

.card4Image {
  height: 80%;
    /* width: 100%; */
    background-image: url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2020%2F04%2F10%2Flebron-james.jpg);
    background-size: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 3px solid yellow;
}

.topic5 {
  color:#fecb0e;
    font-family: "Kanit";
    font-size: 17px;
    /* margin-top: 12px; */
    margin: 0;
    padding: 3;
    margin-top: -2px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.topic6 {
  color:#adefd1;
    font-family: "Kanit";
    font-size: 17px;
    /* margin-top: 12px; */
    margin: 0;
    padding: 3;
    margin-top: -2px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.title5 {
  color: white;
    font-family: "Red Rose";
    font-size: 20px;
    /* margin-top: 12px; */
    padding: 3;
    text-shadow: 2px 2px #ef242a;
    margin: 0;
    margin-top: -10px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.eptitle4 {
  color: white;
    font-family: "Roboto Condensed";
    font-size: 17px;
    /* margin-top: 12px; */
    margin: 0;
    padding: 6;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #068cca;
    border: 3px solid yellow;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card2-front, .flip-card2-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card3-front, .flip-card3-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card4-front, .flip-card4-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card5-front, .flip-card5-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card6-front, .flip-card6-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  /* background-image: url("cardBG.jpg"); */
  white-space: normal;
  background-color: dodgerblue;
  /* outline: 3px solid black;
outline-offset: -5px; */
}

.flip-card2-back {
  background-color: magenta;
  color: white;
  transform: rotateY(180deg);
  /* background-image: url("cardBG.jpg"); */
  white-space: normal;
  background-color: magenta;
  /* outline: 3px solid black; */
/* outline-offset: -5px; */
}

.flip-card3-back {
  color: black;
  transform: rotateY(180deg);
  /* background-image: url("cardBG.jpg"); */
  white-space: normal;
  background-color: gold;
  /* outline: 3px solid black;
outline-offset: -5px; */
}

.flip-card4-back {
  color: white;
  transform: rotateY(180deg);
  /* background-image: url("cardBG.jpg"); */
  white-space: normal;
  background-color: #cb0304;
  /* outline: 3px solid black;
outline-offset: -5px; */
}

.flip-card5-back {
  color: #ef242a;
  transform: rotateY(180deg);
  /* background-image: url("cardBG.jpg"); */
  white-space: normal;
  background-color: #fecb0e;
  /* outline: 3px solid black;
outline-offset: -5px; */
}

.flip-card6-back {
  color: #adefd1;
  transform: rotateY(180deg);
  /* background-image: url("cardBG.jpg"); */
  white-space: normal;
  background-color: #adefd1;
  /* outline: 3px solid black;
outline-offset: -5px; */
}


.card1Image {
  height: 80%;
  background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2020%2F04%2F10%2Flebron-james.jpg");
  background-size: cover;
  border-radius: 15px;
  border: 5px solid white;
  -webkit-box-shadow: 6px  6px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);

}

#test {
  max-height: 100%;
}

.circle1 {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: dodgerblue;
  position: absolute;
  bottom: 40;
  right: 5;
  border: 3px solid black;
  overflow:hidden;
}

.circle1Text {
  margin-top: 30%;
  color: yellow;
  font-size: 20px;
  font-family: "Kanit";
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.firstLine1 {
  font-family: "Open Sans";
  font-size: 15px;
  margin: 0;
  padding-top: 10px;
}

.lastLine1 {
  font-family: "Open Sans";
  font-size: 25px;
  color: red;
  margin-top: -10px;
}

div.scrollmenu {
  background-color: transparent;

  overflow: auto;
  white-space: nowrap;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 0px;
    overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}



/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: -1px;
}

@media only screen and (max-width: 750px) {
  ::-webkit-scrollbar {
    width: -1px;
  }
}


.card2Topic {
  font-family: "Work Sans";
  color: #d8548c;
  font-size: 29px;
  padding: 0px;
  margin: 0;
  margin-top: -10px;
  text-shadow: 4px 4px #000000;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

.card2Image {
  height: 80%;
  background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2020%2F04%2F10%2Flebron-james.jpg");
  background-size: cover;
  border-radius: 15px;
  border: 3px solid white;
  /* -webkit-box-shadow: 6px  6px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
box-shadow: 6px 6px 0px 0px rgba(0,0,0,1); */

}

.eptitle {
  color: white;
  font-family: "Kanit";
  font-size: 15px;
}

.topicHead {
  color: yellow;
  /* padding-top: 25px; */
  font-size: 40px;
  margin-bottom: -35px;
  font-family: "Bowlby One SC";
  text-shadow: 4px 4px #b42a25;
}

#top {
  color: #313041;
  /* text-shadow: 4px 4px #b42a25; */
  font-size: 45px;
    font-family: "Bowlby One SC";
    /* margin-bottom: -50px; */
}

.backTitle {
  font-size: 15px;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Kanit"
}

#backButton {
  /* background-image: url("back.png"); */
  max-width: 100%;
padding-top: 0px;
max-height: 100px;
}

#videoTitle {
  color: yellow;
  /* text-shadow: 4px 4px #b42a25; */
  font-size: 35px;
    font-family: "Bowlby One SC";
    margin-bottom: 0px;
}

@media only screen and (max-width: 750px) {
  #videoTitle {
    font-size: 24px;
  }
}

.holder {
  background-color: purple;
  padding: 3px;
  border-radius: 15px;
}

.card3Image {
  height: 80%;
  background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2020%2F04%2F10%2Flebron-james.jpg");
  background-size: cover;
  border-radius: 15px;
  /* -webkit-box-shadow: 6px  6px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
box-shadow: 6px 6px 0px 0px rgba(0,0,0,1); */

}

.flag {
  height: 70px;
  position: absolute;
  bottom: 35;
  left: 5;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.eptitle3 {
  color: white;
  font-family: "Noto Sans KR";
  font-size: 17px;
  margin-top: 12px;
}

/* #cardHolder {
  position: absolute;
  z-index: 500;
  height: 70%;
  width: 100%;
  bottom: 0;
  background-color: #313041;
  border-top-left-radius: 15px;
    margin-left: -15px;
} */

#cardHolder {
    /* position: absolute; */
    z-index: 500;
    height: 100%;
    /* width: 110%; */
    /* bottom: 0; */
    background-color: #313041;
    border-top-left-radius: 15px;
    /* border-top-right-radius: 15px; */
    margin-left: -15px;
}

#videoEmbed {
  position: absolute;
  z-index:502;
  left: 0;
  right: 0;
  margin: auto;
}

#player {
  position: absolute;
  z-index:502;
  left: 0;
  right: 0;
  margin: auto;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
    color: #47445c;
}

a:hover {
  color: #47445c;
}

a:active {
    color: #47445c;
}

.ta {
  color: #47445c;
  font-family: "Poppins";
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s ease 0s;
}

.playButton {
  background-color: yellow;
  color: #3b394d;
  font-family: "Londrina Solid";
  width: 60%;
  font-size: 15px;
  font-weight: 300;
  border: 3px solid #3b394d;
    transition: all 0.3s ease 0s;
}

.playButton:hover {
  transition: all 0.3s ease 0s;
  background-color: #3b394d;
  color: yellow;
}

/* .ta:hover {
  color: white;
} */

#enterButton {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 300;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-family: "Londrina Solid";
  font-size: 30px;
}

#enterButton:hover {
  color: #404040 !important;
font-weight: 900 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
font-family: "Londrina Solid";
font-size: 30px;
  text-shadow: 2px 2px #ffffff;
}


.slide-in-right {
	-webkit-animation: slide-in-right .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right2 {
	-webkit-animation: slide-in-right .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-10 19:39:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.roll-in-right {
	-webkit-animation: roll-in-right 0.6s ease-out both;
	        animation: roll-in-right 0.6s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-6-12 19:34:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.fade-out-bck {
	-webkit-animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-13 19:2:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out-bck
 * ----------------------------------------
 */
@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-13 19:8:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-15 17:29:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}


@keyframes pulse_animation {
    0% { transform: scale(1); }
    40% { transform: scale(1); }
    50% { transform: scale(1.08); }
    60% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 3000ms;
    transform-origin:70% 70%;
    animation-timing-function:ease-in-out;
    animation-delay: 0s;
}

/* @keyframes bgColor_ani {
  0% { background-color: #404040; }
  100% { background-color: yellow; }
}

.bgColor {
  animation-name: bgColor_ani;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
} */

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left2 {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-6-17 12:33:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
